<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Roberto Carlos Laureano Mata/">
	<!-- favicon-->
	<link rel="icon" href="{{NeuralRutaWebPublico}}/imagen/bridge.ico">
	<title>{ AppSMR }</title>
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/hover/hover.css">
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/jquery-toggles/toggles-full.css">
	<!--jquery jquery-ui-->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/jquery-ui/jquery-ui.css">
	<!--select2 CSS-->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/select2/select2.css">
	<!-- Dropzone-->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/dropzone/dropzone.css">
	<!--timepicker-->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/timepicker/jquery.timepicker.css">
	<!--jquery.gritter CSS-->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/jquery.gritter/jquery.gritter.css">

	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/quirk.css">
	<!--SweetAlert -->
	<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/sweetalert/dist/sweetalert.css">

	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/simple-line-icons.css">

	<style>
		#PanelPrincipal{
			margin: auto;
			padding: 0px;
			max-width: 960px
		}
		.bg-img{
			width: 100%;
			height: auto;
		}
		label.error {
			font-size: 11px;
			display: table-caption;
			caption-side:bottom;
		}

		.spinner {
			width: 40px;
			height: 40px;
			margin: 25px auto;
			background-color: #333;

			border-radius: 100%;
			-webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
			animation: sk-scaleout 1.5s infinite ease-in-out;
		}

		.spinner-xs {
			width: 40px;
			height: 40px;
			margin: 25px auto;
			background-color: #333;

			border-radius: 100%;
			-webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
			animation: sk-scaleout 1.5s infinite ease-in-out;
		}

		@-webkit-keyframes sk-scaleout {
			0% { -webkit-transform: scale(0) }
			100% {
				-webkit-transform: scale(1.0);
				opacity: 0;
			}
		}

		@keyframes sk-scaleout {
			0% {
				-webkit-transform: scale(0);
				transform: scale(0);
			} 100% {
				  -webkit-transform: scale(1.0);
				  transform: scale(1.0);
				  opacity: 0;
			  }
		}

		.fh5co-services .box-services .icon {
			margin-bottom: 20px;
		}
		.fh5co-services .box-services .icon span {
			width: 130px;
			height: 130px;
			display: inline-block;
			position: relative;
			border: 2px solid rgba(0, 0, 0, 0.05);
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			border-radius: 50%;
		}
		.fh5co-services .box-services .icon span i {
			position: absolute;
			left: 0;
			top: 32px;
			right: 0;
			display: block;
			margin-bottom: 0;
			padding-bottom: 0;
			font-size: 60px;
			color: rgba(0, 0, 0, 0.5);
			color: #00ADB5;
			z-index: 1;
		}
		.fh5co-services .box-services .icon span:before {
			position: absolute;
			top: 8px;
			left: 8px;
			right: 0;
			content: '';
			width: 20px;
			height: 20px;
			background: #00ADB5;
			border: 2px solid #fff;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			border-radius: 50%;
		}
	</style>
	<script src="{{NeuralRutaWebPublico}}/lib/modernizr/modernizr.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="{{NeuralRutaWebPublico}}/lib/html5shiv/html5shiv.js"></script>
	<script src="{{NeuralRutaWebPublico}}/lib/respond/respond.src.js"></script>
	<![endif]-->
</head>
<body>
<header>
	<div class="headerpanel">
		<div class="logopanel">
			<h2><a href="{{NeuralRutaApp}}">{App SMR}</a></h2>
		</div><!-- logopanel -->

		<div class="headerbar">
			<a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
			<div class="searchpanel">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Buscar Por...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
					</span>
				</div><!-- input-group -->
			</div>

			{% include 'General/Partes/BarraSuperior.html' %}
		</div><!-- headerbar -->
	</div><!-- header-->
</header>

<section>
	<div class="leftpanel">
		<div class="leftpanelinner">
			{% include 'General/Partes/BarraLateral.html' %}
		</div><!-- leftpanelinner -->
	</div><!-- leftpanel -->
	<div class="mainpanel">
		<div class="contentpanel">
			<section id="PanelPrincipal">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<ol class="breadcrumb breadcrumb-quirk">
							{% block Titulo %}
							<li><a href="index-2.html"><i class="fa fa-home mr5"></i> Default Title</a></li>
							<li><a href="buttons.html">Pages</a></li>
							<li class="active">Blank</li>
							{% endblock Titulo %}
						</ol><!--breadcrumb section start-->
					</div>
					<div id="AreaContenido">
						{% block Contenido %}
						<p>Contenido Vacio</p>
						{% endblock Contenido %}
					</div><!--AreaContenido section start-->
					<!--footer section start-->
					{% include 'General/Partes/Pie.html' %}
					<!--footer section end-->
				</div><!-- row -->
			</section>
		</div><!-- contentpanel -->
	</div><!-- mainpanel -->
</section>

<!--SweetAlert -->
<script src="{{NeuralRutaWebPublico}}/sweetalert/dist/sweetalert.min.js"></script>

<script src="{{NeuralRutaWebPublico}}/lib/jquery/jquery.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/jquery-ui/jquery-ui.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/bootstrap/js/bootstrap.js"></script>
<!--Dropzone -->
<script src="{{NeuralRutaWebPublico}}/lib/dropzone/dropzone.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/jquery-toggles/toggles.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/timepicker/jquery.timepicker.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/jquery.gritter/jquery.gritter.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/jquery-maskedinput/jquery.maskedinput.js"></script>
<script src="{{NeuralRutaWebPublico}}/js/quirk.js"></script>
<!--Scripts de la aplicacion-->
{% block ScriptsAplicacion %}
{% endblock ScriptsAplicacion %}
</body>

</html>
