<div class="col-sm-12">
	<div class="panel">
		<div class="panel-heading">
			<h4 class="panel-title" align="">DESPLAZAMIENTOS REGISTRADOS DE LOS SENSORES</h4>
			<p></p>
		</div>
		<div class="panel-body">
			<div id="linechart" class="flot-chart"></div>
			<h4 id="ejeX" align="center">TIEMPO DE LECTURA</h4>
		</div>
	</div>
</div>
<input type="hidden" id="IdInstrumentacion" name="IdInstrumentacion" value="{{IdInstrumentacion|Cifrado|ascii_hex}}">
<script src="{{NeuralRutaWebPublico}}/lib/jquery/jquery.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.resize.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.symbol.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.crosshair.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.categories.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.pie.js"></script>
<script>
    $(function($){
        var datas = {
            IdInstrumentacion: document.getElementById("IdInstrumentacion").value
        };
        $.getJSON("{{NeuralRutaApp}}/Supervisor/Monitoreo/DataJson",datas,function(json){
            var data = json;
            var plot = $.plot("#linechart", data,{
                series: {
                    lines: {
                        show: true
                    },
                    points: {
                        show: true
                    },
                },
				grid: {
                    borderColor: '#ddd',
                    borderWidth: 1,
                    labelMargin: 10,
					hoverable: true,
                    clickable: true
                },
                yaxis: {
                    tickFormatter: function (v) {
                        return v + " mm";
                    }
                },
                xaxis: {
                    mode: 'categories',
                    tickLength: 0
                 }
            });
            function update() {
                $.getJSON('{{NeuralRutaApp}}/Supervisor/Monitoreo/DataJson', datas, function (json) {
                var data = json;
                    plot.setData(data);
                    plot.draw();
                    setTimeout(update, 1000);
                });
            }
           update();
        });
    });
    $("<div id='tooltip'></div>").css({
        position: "absolute",
        display: "none",
        border: "1px solid #fdd",
        padding: "2px",
        "background-color": "#48cad8"
    }).appendTo("body");

    $("#linechart").bind("plothover", function (event, pos, item) {
            if (item) {
                var y = item.datapoint[1].toFixed(2);
                $("#tooltip").html("Desplazamiento de: "+y+" mm")
                    .css({top: item.pageY+10, left: item.pageX+10})
                    .fadeIn(200);
            } else {
                $("#tooltip").hide();
            }
    });
</script>

