{% extends "General/Base.html" %}

{% block Titulo %}
<li><a href="#"><i class="fa fa-user mr5"></i> Perfil</a></li>
{% endblock Titulo %}

{% block Contenido %}
{% endblock Contenido %}

{% block ScriptsAplicacion %}
{% include 'Perfil/Listado/Partes/JsPrincipal.html' %}
{% endblock ScriptsAplicacion %}