<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
	<div class="panel">
		<div class="panel-heading">
			<h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Agregar Instrumentacion</h4>
		</div>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs nav-line">
			<li class="active"><a data-toggle="tab" href="#PanelInformacion" >Información</a></li>
			<li><a data-toggle="tab" href="#PanelSensor">Informacion - Sensor</a></li>
		</ul>
		<div class="panel-body">
			<form id="frmEditarInstrumentacion" name="frmEditarInstrumentacion" >
				{% for Valor in Consulta %}
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="PanelInformacion">
						<div class="input-group mb20">
							<span class="input-group-addon"><i class="fa fa-code"></i></span>
							<input type="text" id="Nombre" name="Nombre" class="form-control" placeholder="Nombre" autocomplete="off" value="{{Valor.Nombre}}">
						</div>
						<div class="form-group">
							<small>Direccion</small>
							<textarea id="Direccion" name="Direccion" class="form-control" rows="3" placeholder="Direccion">{{Valor.Direccion}}</textarea>
						</div>
						<div class="form-group">
							<small>Descripcion</small>
							<textarea id="Descripcion" name="Descripcion" class="form-control" rows="3" placeholder="Descripción">{{Valor.Descripcion}}</textarea>
						</div>

						<div class="form-group" id="SelectAuxiliares">
							<small>Auxiliares de Supervisor</small>
							<select id="IdAuxiliares" name="IdAuxiliares[]" class="form-control" style="width: 100%" data-placeholder="Seleccione Auxiliares" multiple>
								<option value="">&nbsp;</option>
								{% for Dato in Supervisores %}
								{% if Dato.Seleccionado == 'Seleccionado'%}
								<option value="{{Dato.IdInformacion|Cifrado}}" selected>{{Dato.Nombres}} {{Dato.ApellidoPaterno}}</option>
								{% else %}
								<option value="{{Dato.IdInformacion|Cifrado}}">{{Dato.Nombres}} {{Dato.ApellidoPaterno}}</option>
								{% endif %}
								{% endfor %}
							</select>
						</div>
						<input type="hidden" id="IdDetalleInstrumentacion" name="IdDetalleInstrumentacion" value="{{Valor.IdDetalleInstrumentacion|Cifrado}}">
						<input type="hidden" id="IdInstrumentacion" name="IdInstrumentacion" value="{{IdInstrumentacion|Cifrado}}">
						<input type="hidden" id="Key" name="Key" value="{{Key}}">
					</div>
					<div id="PanelSensor" class="tab-pane fade col-md-12 row ">
						<div class="form-group">
							<small>Sensor Nodo</small>
							<select id="IdSensor" name="IdSensor" class="form-control" style="width: 100%" data-placeholder="Seleccione Nodo">
								<option value="">&nbsp;</option>
								{% for Dato in Sensores %}
								{% if Dato.Seleccionado == 'Seleccionado'%}
								<option value="{{Dato.IdSensor|Cifrado}}" selected>{{Dato.Nombre}} {{Dato.Mac}}</option>
								{% else %}
								<option value="{{Dato.IdSensor|Cifrado}}">{{Dato.Nombre}} {{Dato.Mac}}</option>
								{% endif %}
								{% endfor %}
							</select>
						</div>
						<div class="form-group" id="Canales">
							<small>Canales</small>
							<select id="IdCanal" name="IdCanal[]" class="form-control" style="width: 100%" data-placeholder="Seleccione Canal" multiple>
								<option value="">&nbsp;</option>
								{% for Dato in Canales %}
								{% if Dato.Seleccionado == 'Seleccionado'%}
								<option value="{{Dato.IdCanal|Cifrado}}" selected>{{Dato.Nombre}}</option>
								{% else %}
								<option value="{{Dato.IdCanal|Cifrado}}">{{Dato.Nombre}}</option>
								{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<hr class="invisible">
				<p class="text-right">
					<button type="button" class="btn btn-danger" onclick="javascript: fnListado();"><i class="fa fa-undo"></i> &nbsp; Cancelar</button>&nbsp;
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar</button>
				</p>
				{% endfor %}
			</form>
		</div>

	</div>
</div>
{{Scripts|raw}}
<script>
    jQuery(document).ready(function (){
			$('#IdSensor').select2({ minimumResultsForSearch: Infinity });
			$('#IdCanal').select2({ minimumResultsForSearch: Infinity });
			$('#IdAuxiliares').select2({ minimumResultsForSearch: Infinity });
			autosize($('#Direccion'));
			autosize($('#Descripcion'));
	});

	jQuery('#frmEditarInstrumentacion').on('submit', function(e){
		var isvalidate = jQuery('#frmEditarInstrumentacion').valid();
		if (isvalidate) {
			e.preventDefault();
			if(frmValidacion()){
				fnGuardar();
			}else {
				$.gritter.add({
					title: 'Error!',
					text: 'Rellene los datos requeridos.',
					class_name: 'with-icon times-circle danger'
				});
			}
		}else {
			$.gritter.add({
				title: 'Error!',
				text: 'Rellene los datos requeridos.',
				class_name: 'with-icon times-circle danger'
			});
		}
	});

	function fnGuardar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/Instrumentaciones/Editar',
			data: jQuery('#frmEditarInstrumentacion').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreaContenido").html('<div class="spinner"></div>');
			},
			success: function (data) {
				jQuery("#AreaContenido").html(data);
			}
		});
	}

	function frmValidacion(){
        var error = true;
		if(jQuery("#Nombre").val() == ''){
			error = false;
		}
		if(jQuery("#Descripcion").val() == ''){
			error = false;
		}
		if(jQuery("#Direccion").val() == ''){
			error = false;
		}
		if(jQuery("#IdSensor").val() == ''  || jQuery("#IdSensor").val() == null){
			error = false;
		}
		return error;
	}

</script>