<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel">
		<div class="panel-heading">
			<h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Listado de Instrumentaciones</h4>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table id="dataTable1" class="table table-bordered table-striped-col">
					<thead>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Direccion</th>
						<th>Sensor</th>
						<th>Mac</th>
						<th>Perfil Supervisor</th>
						<th>Acciones</th>
					</tr>
					</thead>
					<tfoot>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Direccion</th>
						<th>Sensor</th>
						<th>Mac</th>
						<th>Perfil Supervisor</th>
						<th>Acciones</th>
					</tr>
					</tfoot>
					<tbody>
					{% for Dato in Consulta %}
					<tr>
						<td>{{loop.index}}</td>
						<td>{{Dato.Nombre}}</td>
						<td>{{Dato.Direccion}}</td>
						<td>{{Dato.SensorNombre}}</td>
						<td>{{Dato.Mac}}</td>
						<td>{{Dato.Principal}}</td>
						<td class="text-center">
							<a title="Descargar Datos" target="_blank" class="btn btn-default btn-xs tooltips" href='{{NeuralRutaApp}}/Supervisor/Monitoreo/Excel/{{Dato.IdInstrumentacion|Cifrado|ascii_hex}}'><i class="fa fa-file-excel-o"></i></a>
							<a title="Ver Grafica" class="btn btn-default btn-xs tooltips" href='javascript: Graficar("{{Dato.IdInstrumentacion|Cifrado}}");'><i class="fa fa-bar-chart-o"></i></a>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	$('#dataTable1').DataTable({
		"columnDefs": [{
			"orderable": false,
			"targets": '_all'}],
		language: 	{
			"sProcessing":     "Procesando...",
			"sLengthMenu":     "Mostrar _MENU_ registros",
			"sZeroRecords":    "No se encontraron resultados",
			"sEmptyTable":     "Ningún dato disponible en esta tabla",
			"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
			"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
			"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
			"sInfoPostFix":    "",
			"sSearch":         "Buscar:",
			"sUrl":            "",
			"sInfoThousands":  ",",
			"sLoadingRecords": "Cargando...",
			"oPaginate": {
				"sFirst":    "Primero",
				"sLast":     "Último",
				"sNext":     "Siguiente",
				"sPrevious": "Anterior"
			},
			"oAria": {
				"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
				"sSortDescending": ": Activar para ordenar la columna de manera descendente"
			}
		},
		"iDisplayLength": 5,
		"aLengthMenu": [
			[5, 10, 25, 50, -1],
			[5, 10, 25, 50, "Todos"]
		]
	});

</script>
