<!--Datatables-->
<link rel="stylesheet"href="{{NeuralRutaWebPublico}}/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
<script src="{{NeuralRutaWebPublico}}/lib/datatables/jquery.dataTables.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<!--select2 JS-->
<script src="{{NeuralRutaWebPublico}}/lib/select2/select2.js"></script>
<!--autosize JS-->
<script src="{{NeuralRutaWebPublico}}/lib/jquery-autosize/autosize.js"></script>

<script>
    ActivarLink('MenuLinkInstrumentacion');

    function fnListado() {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Supervisor/Instrumentaciones/frmListado',
            dataType: 'html',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmAgregarInstrumentacion() {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Supervisor/Instrumentaciones/frmAgregar',
            dataType: 'html',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmEditar(IdInstrumentacion) {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Supervisor/Instrumentaciones/frmEditar',
            dataType: 'html',
            type: 'post',
            data: {IdInstrumentacion: IdInstrumentacion},
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function EliminarRegistro(IdInstrumentacion) {
        swal({
            title: "Eliminar Instrumentación.",
            text: "¿Se eliminará definitivamente la Instrumentacion!.",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Si, eliminar.",
            closeOnConfirm: true
        }, function () {
            $.ajax({
                url: '{{NeuralRutaApp}}/Supervisor/Instrumentaciones/EliminarRegistro',
                datatype: "html",
                type: "post",
                data: {IdInstrumentacion: IdInstrumentacion},
                beforeSend: function () {
                    $("#AreaContenido").html('<div class="spinner"></div>');
                },
                success: function (data) {
                    fnListado();
                }
            });
        });
    }




    fnListado();
</script>