<div class="col-sm-12">
    <div class="panelIma" align="center">
    </div>
</div>
<style>

    .panelIma{
        with: 100%;
        height: 500px;
        background-image: url("{{NeuralRutaWebPublico}}/imagen/about.png");
        background-attachment: scroll;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
</style>

<script src="{{NeuralRutaWebPublico}}/lib/jquery/jquery.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.resize.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.symbol.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.crosshair.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.categories.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/flot/jquery.flot.pie.js"></script>  
