<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Editar Supervisor</h4>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-line">
            {% for Datos in Consulta %}
            <li class="active"><a data-toggle="tab" href="#PanelInformacion" > Supervisor: "{{Datos.Nombres}} {{Datos.ApellidoPaterno}} {{Datos.ApellidoMaterno}}" </a></li>
        </ul>
        <div class="panel-body">
            <form id="frmEditarSupervisor" name="frmEditarSupervisor" >
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="PanelInformacion">
                        <div class="input-group mb20">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" id="Usuario" name="Usuario" class="form-control" placeholder="Nick Name" autocomplete="off" value="{{Datos.Usuario}}">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb20">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                    <input type="text" id="Correo" name="Correo" class="form-control" placeholder="Email" autocomplete="off" value="{{Datos.Correo}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb20">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                    <input type="text" id="RepiteCorreo" name="RepiteCorreo" class="form-control" placeholder="Repite Email" autocomplete="off" value="{{Datos.Correo}}">
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb20">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" id="Password" name="Password" class="form-control" placeholder="Nuevo Password" autocomplete="off">
                        </div>
                         <input type="hidden" id="IdUsuario" name="IdUsuario" value="{{Datos.IdUsuario|Cifrado}}">
                        <input type="hidden" id="Key" name="Key" value="{{Key}}">
                    </div>
                </div>
                <hr class="invisible">
                <p class="text-right">
                    <button type="button" class="btn btn-danger" onclick="javascript: fnListado();"><i class="fa fa-undo"></i> &nbsp; Cancelar</button>&nbsp;
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar</button>
                </p>
                {% endfor %}
            </form>
        </div>
    </div>
</div>
{{Scripts|raw}}
<script>
jQuery(function($){
$("#Mac").mask("**:**:**:**:**:**");
});
</script>
<script>
    jQuery('#frmEditarSupervisor').on('submit', function(e){
        var isvalidate = jQuery('#frmEditarSupervisor').valid();
        if (isvalidate) {
            e.preventDefault();
            if(frmValidacion()){
                fnGuardar();
            }else {
                $.gritter.add({
                    title: 'Error!',
                    text: 'Rellene los datos requeridos.',
                    class_name: 'with-icon times-circle danger'
                });
            }
        }else {
            $.gritter.add({
                title: 'Error!',
                text: 'Rellene los datos requeridos.',
                class_name: 'with-icon times-circle danger'
            });
        }
    });

    function fnGuardar(){
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Supervisores/Editar',
            data: jQuery('#frmEditarSupervisor').serialize(),
            type: 'POST',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmValidacion(){
        var error = true;
        if(jQuery("#Usuario").val() == ''){
            error = false;
        }
        if(jQuery("#Correo").val() == ''){
            error = false;
        }
        if(jQuery("#RepiteCorreo").val() == ''){
            error = false;
        }
        return error;
    }
</script>