{% extends "General/Base.html" %}

{% block Titulo %}
<li><a href="#"><i class="fa fa-sitemap"></i> Sensores</a></li>
{% endblock Titulo %}

{% block Contenido %}
{% endblock Contenido %}

{% block ScriptsAplicacion %}
{% include 'Sensores/Listado/Partes/JsPrincipal.html' %}
{% endblock ScriptsAplicacion %}