<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Roberto Carlos Laureano Mata">
    <!-- favicon-->
    <link rel="icon" href="{{NeuralRutaWebPublico}}/imagen/bridge.ico">
    <title>{ AppSMR }</title>
    <meta charset="utf-8">
    <title>Sistema de Monitoreo Remoto</title>
    <script src="{{NeuralRutaWebPublico}}/lib/modernizr/modernizr.js"></script>
    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/bootstrap.css">
    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/bootstrap-theme.css">
    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/jquery-toggles/toggles-full.css">
    <!--jquery jquery-ui-->
    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/quirk.css">


    <style>
        body {
            background: url("{{NeuralRutaWebPublico}}/imagen/puenteCot.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-attachment: fixed;
            background-color: #464646;
        }
        .panel-default {
            opacity: 0.9;
            margin-top:30px;
        }
        .form-group.last { margin-bottom:0px; }
    </style>
</head>
<body>
<div class="container" align="center">
    <div class="row">
            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-md-offset-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> Sistema de Monitoreo Remoto</div>
                <div class="panel-body">
                    <ul class="nav nav-tabs nav-line">
                        <li class="active"><a data-toggle="tab" href="#home">Usuario</a></li>
                        <li><a data-toggle="tab" href="#menu1" >Información</a></li>
                    </ul>
                    <form id="frmRegistro" name="frmRegistro" class="form-horizontal" role="form" method="post" action="{{NeuralRutaApp}}/Index/Registro">
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active col-md-10 row">
                                <div class="form-group input-group mb20">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" id="Usuario" name="Usuario" class="form-control" placeholder="Usuario" autocomplete="off" required>
                                </div>
                                <div class="form-group input-group mb20">
                                    <span class="input-group-addon"><i class="fa  fa-envelope-o"></i></span>
                                    <input type="text" id="Correo" name="Correo" class="form-control" placeholder="E-mail" autocomplete="off" required>
                                </div>
                                <div class="form-group input-group mb20">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                    <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" autocomplete="off" required>
                                </div>
                                <div class="form-group input-group mb20">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                    <input type="password" id="RepitePassword" name="RepitePassword" class="form-control" placeholder="Comprobar Password" autocomplete="off" required>
                                </div>
                            </div>
                            <!--inicia-->
                            <div id="menu1" class="tab-pane fade col-md-10 row" >
                                <div class="form-group">
                                    <div class="input-group mb20">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" id="Nombres" name="Nombres" class="form-control" placeholder="Nombres" autocomplete="off" required>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group mb20">
                                                <span class="input-group-addon"><i class="fa fa-link"></i></span>
                                                <input type="text" id="ApellidoPaterno" name="ApellidoPaterno" class="form-control" placeholder="Apellido Paterno" autocomplete="off" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group mb20">
                                                <span class="input-group-addon"><i class="fa  fa-link"></i></span>
                                                <input type="text" id="ApellidoMaterno" name="ApellidoMaterno" class="form-control" placeholder="Apellido Materno" autocomplete="off" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb20">
                                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                        <input type="text" id="Telefono" name="Telefono" class="form-control" placeholder="Telefono" autocomplete="off" required>
                                    </div>
                                    </div>
                                <!--fin-->
                            </div>
                            <input type="hidden" id="Keys" name="Key" value="{{Key}}">
                        </div>
                        <hr class="invisible">
                        <div class="row">
                            <div class="col-md-4">
                            <a href="{{NeuralRutaApp}}/Index" class="btn btn-danger btn-quirk btn-block">Cancelar</a>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success btn-quirk btn-block">Registrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="{{NeuralRutaWebPublico}}/lib/jquery/jquery.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/jquery-ui/jquery-ui.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/bootstrap/js/bootstrap.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/jquery-toggles/toggles.js"></script>
<script src="{{NeuralRutaWebPublico}}/js/quirk.js"></script>
</body>
</html>