<!--Datatables-->
<link rel="stylesheet"href="{{NeuralRutaWebPublico}}/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
<script src="{{NeuralRutaWebPublico}}/lib/datatables/jquery.dataTables.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<!--select2 JS-->
<script src="{{NeuralRutaWebPublico}}/lib/select2/select2.js"></script>
<!--autosize JS-->
<script src="{{NeuralRutaWebPublico}}/lib/jquery-autosize/autosize.js"></script>

<script>
    ActivarLink('MenuLinkSupervisor');

    function fnListado() {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Supervisores/frmListado',
            dataType: 'html',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function frmEditar(IdUsuario) {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Supervisores/frmEditar',
            dataType: 'html',
            type: 'post',
            data: {IdUsuario: IdUsuario},
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function CambiarStatus(IdUsuario, Status) {
        swal({
            title: "Activar / Desactivar.",
            text: "¿Cambiara el Status definitivamente del Supervisor!.",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#51acdd",
            confirmButtonText: "Si, Cambiar.",
            closeOnConfirm: true
        }, function () {
            $.ajax({
                url: '{{NeuralRutaApp}}/Administrador/Supervisores/ActivaDesactivaUsuario',
                datatype: "html",
                type: "post",
                data: {IdUsuario: IdUsuario, Status: Status},
                beforeSend: function () {
                    $("#AreaContenido").html('<div class="spinner"></div>');
                },
                success: function (data) {
                    fnListado();
                }
            });
        });
    }

    function EliminarRegistro(IdUsuario) {
        swal({
            title: "Eliminar Supervisor.",
            text: "¿Se eliminará definitivamente el Supervisor!.",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Si, eliminar.",
            closeOnConfirm: true
        }, function () {
            $.ajax({
                url: '{{NeuralRutaApp}}/Administrador/Supervisores/EliminarRegistro',
                datatype: "html",
                type: "post",
                data: {IdUsuario: IdUsuario},
                beforeSend: function () {
                    $("#AreaContenido").html('<div class="spinner"></div>');
                },
                success: function (data) {
                    fnListado();
                }
            });
        });
    }

    fnListado();
</script>