{% extends "General/Base.html" %}

{% block Titulo %}
<li><a href="#"><i class="fa fa-heartbeat"></i> Monitoreo</a></li>
{% endblock Titulo %}

{% block Contenido %}
{% endblock Contenido %}

{% block ScriptsAplicacion %}
{% include 'Monitoreo/Listado/Partes/JsPrincipal.html' %}
{% endblock ScriptsAplicacion %}