{% extends "General/Base.html" %}

{% block Titulo %}
<li><a href="#"><i class="fa fa-sliders"></i> Supervisores</a></li>
{% endblock Titulo %}

{% block Contenido %}
{% endblock Contenido %}

{% block ScriptsAplicacion %}
{% include 'Instrumentaciones/Listado/Partes/JsPrincipal.html' %}
{% endblock ScriptsAplicacion %}