{% extends "General/Base.html" %}

{% block Titulo %}
<li><a href="#"><i class="fa fa-list-ul"></i> Canales</a></li>
{% endblock Titulo %}

{% block Contenido %}
{% endblock Contenido %}

{% block ScriptsAplicacion %}
{% include 'Canales/Listado/Partes/JsPrincipal.html' %}
{% endblock ScriptsAplicacion %}