<div class="header-right">
	<ul class="headermenu">
		<li>
			<div id="noticePanel" class="btn-group">
				<button class="btn btn-notice alert-notice" data-toggle="dropdown">
					<i class="fa fa-globe" href="www.facebook.com"></i>
				</button>
				<div id="noticeDropdown" class="dropdown-menu dm-notice pull-right">
					<div role="tabpanel">
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="notification">
								<ul class="list-group notice-list">
									<li class="list-group-item unread">
										<div class="row">
											<div class="col-xs-2">
												<i class="fa fa-envelope"></i>
											</div>
											<div class="col-xs-10">
												<h5><a href="#">New message from Weno Carasbong</a></h5>
												<small>June 20, 2015</small>
												<span>Soluta nobis est eligendi optio cumque...</span>
											</div>
										</div>
									</li>
									<li class="list-group-item unread">
										<div class="row">
											<div class="col-xs-2">
												<i class="fa fa-user"></i>
											</div>
											<div class="col-xs-10">
												<h5><a href="#">Renov Leonga is now following you!</a></h5>
												<small>June 18, 2015</small>
											</div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="row">
											<div class="col-xs-2">
												<i class="fa fa-user"></i>
											</div>
											<div class="col-xs-10">
												<h5><a href="#">Zaham Sindil is now following you!</a></h5>
												<small>June 17, 2015</small>
											</div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="row">
											<div class="col-xs-2">
												<i class="fa fa-thumbs-up"></i>
											</div>
											<div class="col-xs-10">
												<h5><a href="#">Rey Reslaba likes your post!</a></h5>
												<small>June 16, 2015</small>
												<span>HTML5 For Beginners Chapter 1</span>
											</div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="row">
											<div class="col-xs-2">
												<i class="fa fa-comment"></i>
											</div>
											<div class="col-xs-10">
												<h5><a href="#">Socrates commented on your post!</a></h5>
												<small>June 16, 2015</small>
												<span>Temporibus autem et aut officiis debitis...</span>
											</div>
										</div>
									</li>
								</ul>
								<a class="btn-more" href="#">View More Notifications <i class="fa fa-long-arrow-right"></i></a>
							</div><!-- tab-pane -->

							<div role="tabpanel" class="tab-pane" id="reminders">
								<h1 id="todayDay" class="today-day">...</h1>
								<h3 id="todayDate" class="today-date">...</h3>

								<h5 class="today-weather"><i class="wi wi-hail"></i> Cloudy 77 Degree</h5>
								<p>Thunderstorm in the area this afternoon through this evening</p>

								<h4 class="panel-title">Upcoming Events</h4>
								<ul class="list-group">

								</ul>
								<a class="btn-more" href="#">View More Events <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="btn-group">
				<button type="button" class="btn btn-logged" data-toggle="dropdown">
					<img src="{{NeuralRutaWebPublico}}/imagen/user.png" alt="" />
					{{ Usuario != '' and Usuario != ' ' > 0 ? Usuario : 'Usuario'  }}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right">
					<li><a href="{{NeuralRutaApp}}/Supervisor/Perfil"><i class="fa fa-user"></i> Mi Perfil</a></li>
					<li><a href="#"><i class="fa fa-gear"></i> Ayuda</a></li>
					<li><a href="{{NeuralRutaApp}}/LogOut"><i class="fa fa-sign-out"></i> Cerrar Sesión</a></li>
				</ul>
			</div>
		</li>

	</ul>
</div><!-- header-right -->
