<!-- ################# MAIN MENU ################### -->
<div class="tab-pane active" id="mainmenu">
	<h5 class="sidebar-title">Favorites</h5>
	<ul class="nav nav-pills nav-stacked nav-quirk">
		<li id="MenuLinkPrincipal"><a href="{{NeuralRutaApp}}/Supervisor"><i class="fa fa-home"></i> <span>Principal</span></a></li>
		<li id="MenuLinkPerfil"><a href="{{NeuralRutaApp}}/Supervisor/Perfil"><i class="fa fa-user"></i> <span>Perfil</span></a></li>
		<li id="MenuLinkInstrumentacion"><a href="{{NeuralRutaApp}}/Supervisor/Instrumentaciones"><i class="fa fa-sliders"></i> <span>Instrumentación</span></a></li>
		<li id="MenuLinkMonitoreo"><a href="{{NeuralRutaApp}}/Supervisor/Monitoreo"><i class="fa fa-heartbeat"></i> <span>Monitoreo</span></a></li>
	</ul>
</div><!-- tab-pane -->
<script>
	function ActivarLink(IdLink, IdNavParent) {
		$(document).ready(function () {
			if(IdNavParent != undefined && IdNavParent !=''){
				$('#'+IdNavParent).addClass('active');
			}
			if(IdLink != undefined && IdLink !=''){
				$('#'+IdLink).addClass('active');
			}
		});
	}
</script>