<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel">
        <div class="panel-body">
            <div class="alert alert-success fade in nomargin">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
                <h4>Exito!</h4>
                <p>Los datos han sido guardados exitosamente.</p>
                <div class="mb15"></div>
                <p>
                    <button class="btn btn-primary" onclick="javascript: CerrarSession();" type="button"><i class="fa fa-check-square-o"></i> &nbsp; Se requiere cerrar sesión</button>
                </p>
            </div>
        </div>
    </div>
</div>