<!--Datatables-->
<link rel="stylesheet"href="{{NeuralRutaWebPublico}}/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
<script src="{{NeuralRutaWebPublico}}/lib/datatables/jquery.dataTables.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<!--select2 JS-->
<script src="{{NeuralRutaWebPublico}}/lib/select2/select2.js"></script>
<!--autosize JS-->
<script src="{{NeuralRutaWebPublico}}/lib/jquery-autosize/autosize.js"></script>

<script>
    ActivarLink('MenuLinkMonitoreo');
    function fnListado() {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Supervisor/Monitoreo/frmListado',
            dataType: 'html',
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }

    function Graficar(IdInstrumentacion) {
        jQuery.ajax({
            url: '{{NeuralRutaApp}}/Supervisor/Monitoreo/Graficar',
            dataType: 'html',
            type: 'post',
            data: {IdInstrumentacion: IdInstrumentacion},
            beforeSend: function () {
                jQuery("#AreaContenido").html('<div class="spinner"></div>');
            },
            success: function (data) {
                jQuery("#AreaContenido").html(data);
            }
        });
    }
    fnListado();
</script>