<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
	<div class="panel">
		<div class="panel-heading">
			<h4 class="panel-title"><span class="fa fa-list"></span> &nbsp; Agregar Sensor-Nodo</h4>
		</div>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs nav-line">
			<li class="active"><a data-toggle="tab" href="#PanelInformacion" >Información</a></li>
		</ul>
		<div class="panel-body">
			<form id="frmAgregarSensor" name="frmAgregarSensor" >
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="PanelInformacion">
						<div class="input-group mb20">
							<span class="input-group-addon"><i class="fa fa-code"></i></span>
							<input type="text" id="Mac" name="Mac" class="form-control" placeholder="Mac del Sensor-Nodo" autocomplete="off">
						</div>
						<div class="input-group mb20">
							<span class="input-group-addon"><i class="fa fa-code"></i></span>
							<input type="text" id="Nombre" name="Nombre" class="form-control" placeholder="Nombre del Sensor" autocomplete="off">
						</div>
						<input type="hidden" id="Key" name="Key" value="{{Key}}">
					</div>
				</div>
				<hr class="invisible">
				<p class="text-right">
					<button type="button" class="btn btn-danger" onclick="javascript: fnListado();"><i class="fa fa-undo"></i> &nbsp; Cancelar</button>&nbsp;
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> &nbsp; Guardar</button>
				</p>
			</form>
		</div>
	</div>
</div>
{{Scripts|raw}}
<script>
	jQuery(function($){
	$("#Mac").mask("**:**:**:**:**:**");
	});
</script>
<script>
    jQuery('#frmAgregarSensor').on('submit', function(e){
		var isvalidate = jQuery('#frmAgregarSensor').valid();
		if (isvalidate) {
			e.preventDefault();
			if(frmValidacion()){
				fnGuardar();
			}else {
				$.gritter.add({
					title: 'Error!',
					text: 'Rellene los datos requeridos.',
					class_name: 'with-icon times-circle danger'
				});
			}
		}else {
			$.gritter.add({
				title: 'Error!',
				text: 'Rellene los datos requeridos.',
				class_name: 'with-icon times-circle danger'
			});
		}
	});

	function fnGuardar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Administrador/Sensores/Agregar',
			data: jQuery('#frmAgregarSensor').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreaContenido").html('<div class="spinner"></div>');
			},
			success: function (data) {
				jQuery("#AreaContenido").html(data);
			}
		});
	}

	function frmValidacion(){
		var error = true;
		if(jQuery("#Mac").val() == ''){
			error = false;
		}
		if(jQuery("#Nombre").val() == ''){
			error = false;
		}
		return error;
	}
</script>