<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Roberto Carlos Laureano Mata">
	<!-- favicon-->
	<link rel="icon" href="{{NeuralRutaWebPublico}}/imagen/bridge.ico">
	<title>{ AppSMR }</title>
	<meta charset="utf-8">
	<title>Sistema de Monitoreo Remoto</title>
	<script src="{{NeuralRutaWebPublico}}/lib/modernizr/modernizr.js"></script>
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/bootstrap.css">
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/bootstrap-theme.css">

	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/jquery-toggles/toggles-full.css">
	<!--jquery jquery-ui-->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/lib/jquery-ui/jquery-ui.css">

	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/quirk.css">


	<style>
		body {
			background: url("{{NeuralRutaWebPublico}}/imagen/puenteCot.jpg") no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-attachment: fixed;
			background-color: #464646;
		}
		.panel-default {
			opacity: 0.9;
			margin-top:30px;
		}
		.form-group.last { margin-bottom:0px; }
	</style>
</head>
<body>
<div class="container" align="center">
	<div class="row">
		<div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-md-offset-7">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-lock"></span> Sistema de Monitoreo Remoto</div>
				<div class="panel-body">
					<ul class="nav nav-tabs nav-line">
						<li class="active"><a data-toggle="tab" href="#home">REGISTRO ÉXITOSO</a></li>
					</ul>
					<form id="frmRegistro" name="frmRegistro" class="form-horizontal" role="form">
						<div class="tab-content">
							<div id="home" class="tab-pane fade in active col-md-12 row" style="opacity: 0.9">
								<h4>¡ENHORABUENA!<br><br> Tu registro estará ACTIVO en un momento </h4>
							</div>
						</div>
						<hr class="invisible">
						<div class="row">
							<div class="col-md-12" align="center">
								<a href="{{NeuralRutaApp}}/Index" class="btn btn-success btn-quirk btn-block">INICIAR SESIÓN</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<script src="{{NeuralRutaWebPublico}}/lib/jquery/jquery.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/jquery-ui/jquery-ui.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/bootstrap/js/bootstrap.js"></script>
<script src="{{NeuralRutaWebPublico}}/lib/jquery-toggles/toggles.js"></script>
<script src="{{NeuralRutaWebPublico}}/js/quirk.js"></script>
</body>
</html>