{% include 'General/Partes/Infousuario.html' %}

<ul class="nav nav-tabs nav-justified nav-sidebar">
	<li class="tooltips active" data-toggle="tooltip" title="Main Menu"><a data-toggle="tab" data-target="#mainmenu"><i class="tooltips fa fa-ellipsis-h"></i></a></li>
	<li class="tooltips unread" data-toggle="tooltip" title="Check Mail"><a data-toggle="tab" data-target="#"><i class="tooltips fa fa-envelope"></i></a></li>
	<li class="tooltips" data-toggle="tooltip" title="Contacts"><a data-toggle="tab" data-target="#"><i class="fa fa-user"></i></a></li>
	<li class="tooltips" data-toggle="tooltip" title="Settings"><a data-toggle="tab" data-target="#"><i class="fa fa-cog"></i></a></li>
	<li class="tooltips" data-toggle="tooltip" title="Log Out"><a href="{{NeuralRutaApp}}/LogOut"><i class="fa fa-sign-out"></i></a></li>
</ul>

<div class="tab-content">
	{% include 'General/Partes/Menu.html' %}
	<!-- ######################## EMAIL MENU ##################### -->

</div><!-- tab-content -->
