<div class="media leftpanel-profile">
	<div class="media-left">
		<a href="#">
			<img src="{{NeuralRutaWebPublico}}/imagen/user.png" alt="" class="media-object img-circle">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">
				{{ Usuario != '' and Usuario != ' ' > 0 ? Usuario : 'Usuario' }}
			<a data-toggle="collapse" data-target="#loguserinfo" class="pull-right"><i class="fa fa-angle-down"></i></a></h4>
		<span>{{ TipoUsuario != '' and TipoUsuario != ' ' > 0 ? TipoUsuario: 'Software Engineer' }} </span>
	</div>
</div><!-- leftpanel-profile -->

<div class="leftpanel-userinfo collapse" id="loguserinfo">
	<h5 class="sidebar-title">Dirección</h5>
	<address>
		4975 Cambridge Road
		Miami Gardens, FL 33056
	</address>
	<h5 class="sidebar-title">Datos</h5>
	<ul class="list-group">
		<li class="list-group-item">
			<label class="pull-left">Correo</label>
			<span class="pull-right">{{Correo}}</span>
		</li>
		<li class="list-group-item">
			<label class="pull-left">Celular</label>
			<span class="pull-right">{{Telefono}}</span>
		</li>
		<li class="list-group-item">
			<label class="pull-left">Redes Sociales</label>
			<div class="social-icons pull-right">
				<a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-official"></i></a>
				<a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
			</div>
		</li>
	</ul>
</div><!-- leftpanel-userinfo -->