<!-- ################# MAIN MENU ################### -->
<div class="tab-pane active" id="mainmenu">
	<h5 class="sidebar-title">Favorites</h5>
	<ul class="nav nav-pills nav-stacked nav-quirk">
		<li id="MenuLinkPrincipal"><a href="{{NeuralRutaApp}}/Administrador"><i class="fa fa-home"></i> <span>Principal</span></a></li>
		<li id="MenuLinkSupervisor"><a href="{{NeuralRutaApp}}/Administrador/Supervisores"><i class="fa fa-users"></i> <span>Supervisores</span></a></li>
		<li id="MenuLinkSensores"><a href="{{NeuralRutaApp}}/Administrador/Sensores"><i class="fa fa-sitemap"></i> <span>Sensores</span></a></li>
        <li id="MenuLinkCanales"><a href="{{NeuralRutaApp}}/Administrador/Canales"><i class="fa fa-list-ul"></i> <span>Canales</span></a></li>

	</ul>
</div><!-- tab-pane -->
<script>
	function ActivarLink(IdLink, IdNavParent) {
		$(document).ready(function () {
			if(IdNavParent != undefined && IdNavParent !=''){
				$('#'+IdNavParent).addClass('active');
			}
			if(IdLink != undefined && IdLink !=''){
				$('#'+IdLink).addClass('active');
			}
		});
	}
</script>